*
{
	margin:0;
	padding:0;
}

html
{
	background-color:black;
}

body
{
	font-family:Gill Sans, Arial, sans-serif;
	background:black url(/sites/all/themes/sgl_theme/images/italy.jpg) center 44px no-repeat;
	color:#b4093a;
}

p
{
	padding-bottom:0.8em;
}

a,
a:visited
{
	color:#b4093a;
}

a img 
{
	border:0;
}

h1, h2, h3, h4, h5, h6
{
	font-family:Gill Sans MT, Arial, sans-serif;
}

#block-system-main-menu
{
	background-color:white;
	height:44px;
	font-size:14px;
	font-weight:bold;
	font-family:Gill Sans MT, Arial, sans-serif;
	position:relative;
	z-index:1;
}

#block-system-main-menu .content
{
	position:relative;
}

#block-system-main-menu .content > ul.menu
{
	position:absolute;
	right:0;
}

#block-system-main-menu ul.menu li
{
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
}

#block-system-main-menu ul.menu li a,
#block-system-main-menu ul.menu li a:visited
{
	padding:0 20px;
	line-height:44px;
	display:block;
	color:#b4093a;
	text-decoration:none;
	text-transform:uppercase;
}

#block-system-main-menu ul.menu ul.menu
{
	display:none;
	position:absolute;
	left:0;
	top:100%;
	background-color:#b4093a;
	padding:3px 0;
	border-radius:0 0 3px 3px;
	width:96px;
}

#block-system-main-menu ul.menu ul.menu a,
#block-system-main-menu ul.menu ul.menu a:visited
{
	color:white;
	padding:0 8px;
	width:80px;
	line-height:30px;
	font-weight:normal;
}

#block-system-main-menu ul.menu ul.menu a:hover
{
	background-color:white;
	color:#b4093a;
}

#block-system-main-menu ul.menu > li:hover > ul.menu
{
	display:block;
}

.region-header p
{
	padding:0;
}

.region-header .logo
{
	margin-top:-1em;
	padding:0 28px 20px 28px;
	background-color:white;
	border-radius: 0 0 3px 3px;
	position:relative;
	z-index:2;
}

.page-content,
.page-footer > .pageContainer,
.page-front,
#block-system-main-menu .content,
.region-header .content
{
	width:100%;
	max-width:1000px;
	margin:0 auto;
}

.region-content
{
	background:url(/sites/all/themes/sgl_theme/images/white-0.60.png) repeat;
	background:rgba(255, 255, 255, 0.6);
	padding:12px;
	position:relative;
}

.page-content #page-title
{
	margin:12px;
	text-shadow:1px 1px 1px #333;
}

#block-views-projects-block
{
	float:left;
}

#block-views-projects-block h2
{
	font-size:18px;
	text-shadow:1px 1px 1px #333;
}

.view-projects .views-row
{
	position:relative;
	width:220px;
	height:95px;
	float:left;
	margin:10px;
	border:1px solid white;
}

.view-projects .node-project.node-teaser
{
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
	color:white;
}

.view-projects .node-project.node-teaser .field-name-field-image
{
	position:absolute;
	bottom:0;
	left:0;
	height:95px;
}

.view-projects .node-project.node-teaser .field-name-title,
.view-projects .node-project.node-teaser .field-name-field-project-name
{
	position:relative;
	z-index:1;
	text-shadow:1px 1px 1px black;
	background:url(/sites/all/themes/sgl_theme/images/black-0.20.png) repeat;
	background:rgba(0,0,0,0.2);
	width:210px;
	padding:0 5px;
}

.view-projects .node-project.node-teaser .field-name-field-project-name
{
	font-weight:lighter;
	padding-bottom:5px;
}

.view-projects .node-project.node-teaser .field-name-title a
{
	color:white;
	text-decoration:none;
	font-size:12pt;
	font-weight:bold;
	font-family:Gill Sans MT, Arial, sans-serif;
}

.page-footer
{
	background-color:white;
	font-size:12px;
	height:60px;
	padding-top:20px;
}

.page-footer p
{
	padding:0.2em 1em;
}

.region-footer-left
{
	float:left;
}

#block-menu-menu-footer-menu
{
	float:right;
}

#block-menu-menu-footer-menu li
{
	list-style:none;
	float:left;
	border-right:1px solid #b4093a;
	padding:0;
	margin:0;
}

#block-menu-menu-footer-menu li.last.leaf
{
	border-right:0;
}

#block-menu-menu-footer-menu li a 
{
	text-decoration:none;
	padding:0 1em;
	color:#b4093a;
}

#block-views-news-block
{
	font-size:14px;
	width:200px;
	margin-right:20px;
	float:left;
}

#block-views-news-block h2
{
	font-size:18px;
	text-shadow:1px 1px 1px #333;
	margin-bottom:10px;
}

#block-views-news-block h3
{
	font-size:14px;
}

.page-front,
.region-content.closed
{
	margin-top:436px;
}

.page-front .region-content
{
	min-height:auto;
}

#block-system-main
{
	margin-bottom:1.5em;
}

.page-front #block-system-main
{
	min-height:auto;
}

#block-locale-language
{
	position:absolute;
	right:175px;
	top:-1em;
}

#block-locale-language ul.language-switcher-locale-url li
{
	list-style:none;
	float:left;
	border-left:1px solid #b4093a;
	padding:0 10px;
	line-height:14px;
	font-size:12px;
	font-weight:bold;
	font-family:Gill Sans MT, Arial, sans-serif;
}


#block-locale-language ul.language-switcher-locale-url li.first,
#block-locale-language ul.language-switcher-locale-url li.first.active+li
{
	border:0;
}

#block-locale-language ul.language-switcher-locale-url li.active
{
	display:none;
}

#block-locale-language ul.language-switcher-locale-url li a
{
	text-decoration:none;
}

.form-required
{
	color:#b4093a;
}

#open-close-tab
{
	position:absolute;
	right:20px;
	top:-31px;
	cursor:pointer;
}

#open-tab 
{
	display:none;
}

@media screen and (max-width: 1000px)
{
	.region-header .logo
	{
		margin-top:0;
	}	
}


/* jons stuff */
body, html { height: 100%; }

.page-wrapper {
	min-height: 100%;
	margin: 0 auto -124px auto;
	position:relative;
	top:-44px;
	width:100%;
	max-width:1000px;
}

.page-wrapper > .pageContainer
{
	padding-top:44px;
}

.page-content-inner
{
	position:absolute;
	bottom:80px;
	width:100%;
}