*
{
	margin:0;
	padding:0;
}

html
{
	background:black center 44px no-repeat;
}

body
{
	font-family: "Gill Sans MT", Calibri, sans-serif;
	color:#98012e;
}

html.fill-height,
html.fill-height body
{
	height:100%;
}

p
{
	padding-bottom:0.8em;
}

a,
a:visited
{
	color:#98012e;
	text-decoration:none;
}
a:hover
{
	text-decoration:underline;
}

a img 
{
	border:0;
}

h1, h2, h3, h4
{
	clear:both;
	color:#98012e;
	text-shadow:1px 1px 1px #999;
}

h3 
{
	font-size:1.2em;
	font-weight:normal;
	margin-top:0.5em;
}

.page-width-container
{
	position:relative;
}

html.fill-height .page-width-container
{
	margin-bottom:-80px;
	height:100%;
}

.page-wrapper
{
	min-height:100%;
	height:100%;
	width:100%;
	margin-bottom:-80px;
	position:relative;
	display:table;
	border-spacing:0;
	border-collapse:collapse;
}

.region-header
{
	display:table-row;
	overflow:hidden;
}

.region-header.clearfix:after
{
	display:none;
}

.region-header > div
{
	display:table-cell;
	height:98px;
	padding-top:44px;
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}

.page-body
{
	display:table-row;
}

.page-body > div
{
	display:table-cell;
	vertical-align:bottom;
	padding-bottom:80px;
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
}

.page-body.bottom-up > div
{
	display:block;
	position:absolute;
	bottom:0;
	width:100%;
	max-width:1000px;
}

.region-navigation
{
	background-color:white;
	height:44px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:30;
}

#block-system-main-menu .content > ul
{
	float:right;
}

#block-system-main-menu ul li
{
	float:left;
	font-size:14px;
	font-weight:bold;
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
}

#block-system-main-menu ul li a,
#block-system-main-menu ul li a:visited,
#block-system-main-menu ul li span.nolink
{
	padding:0 20px;
	line-height:44px;
	display:block;
	color:#98012e;
	text-decoration:none;
	text-transform:uppercase;
}

#block-system-main-menu ul li span.nolink
{
	cursor:default;
}

#block-system-main-menu ul ul
{
	display:none;
	position:absolute;
	left:13px;
	top:100%;
	background-color:#98012e;
	padding:3px 0;
	border-radius:0 0 3px 3px;
	width:90px;
	z-index:60;
}
#block-system-main-menu ul span.nolink + ul
{
	width:116px;
}

#block-system-main-menu ul ul a,
#block-system-main-menu ul ul a:visited,
#block-system-main-menu ul ul span.nolink
{
	color:white;
	padding:8px;
	width:100px;
	line-height:100%;
	font-weight:normal;
}

#block-system-main-menu ul ul a:hover
{
	background-color:white;
	color:#98012e;
}

#block-system-main-menu ul > li:hover > ul,
#block-system-main-menu ul > li.open > ul
{
	display:block;
}


#block-system-main-menu ul ul ul
{
	left:100%;
	top:0;
	border-radius:0 3px 3px 0;
}

#block-system-main-menu ul ul li.expanded
{
	background-image:url(../images/arrow-small-right.png);
	background-position:100px center;
	background-repeat:no-repeat;
}


.region-header p
{
	padding:0;
}

.region-header .logo
{
	padding:0 28px 15px 28px;
	background-color:white;
	border-radius:0 0 3px 3px;
	position:relative;
	z-index:20;
	float:left;
	margin-left:55px;
}

.region-header .logo img
{
	width:217px;
	height:90px;
	position:relative;
}

.page-footer > div,
.page-width-container,
.region-navigation > .pageContainer
{
	width:100%;
	max-width:1080px;
	margin-left:auto;
	margin-right:auto;
}

.region-content-container
{
	background:url(/sites/all/themes/sgl_theme/images/sglmap.png) white top center repeat;
	position:relative;
}

.region-content-container > div
{
	padding:100px 100px 50px 100px;
	margin-top:-100px;
	overflow:hidden;
}

#page-title
{
	text-shadow:1px 1px 1px #999;
	position:relative;
	z-index:1;
}

.page-content > div
{
	margin:120px 55px 0 55px;
	position:relative;
}

#block-views-projects-block
{
	float:left;
	margin-right:-4px;
}

#block-views-projects-block h2
{
	font-size:18px;
	text-shadow:1px 1px 1px #999;
	text-transform:uppercase;
}

#block-views-projects-block .content,
.view-projects.view-display-id-page,
.view-urban-design-projects.view-display-id-page
{
	margin-right:-48px;
}

.view-projects .views-row,
.view-urban-design-projects .views-row
{
	position:relative;
	width:220px;
	height:95px;
	float:left;
	margin:8px 48px 8px 0;
	border:1px solid white;
	font-size:12pt;
}

.view-projects .view-node,
.view-urban-design-projects .view-node
{
	position:absolute;
	bottom:0;
	left:0;
	z-index:1;
}

.view-projects .views-field-field-image,
.view-urban-design-projects .views-field-field-image
{
	position:absolute;
	bottom:0;
	left:0;
	height:95px;
}

.view-projects .views-field-title,
.view-projects .views-field-field-project-name,
.view-urban-design-projects .views-field-title,
.view-urban-design-projects .views-field-field-project-name
{
	position:relative;
	z-index:1;
	text-shadow:1px 1px 1px black;
	background:url(/sites/all/themes/sgl_theme/images/black-0.30.png) repeat;
	background:rgba(0,0,0,0.3);
	width:210px;
	padding:0 5px;
}

.view-projects .views-field-title a,
.view-urban-design-projects .views-field-title a
{
	color:white;
	text-decoration:none;
	font-size:12pt;
	font-weight:bold;
	display:block;
}

.view-projects .views-field-field-project-name a,
.view-urban-design-projects .views-field-field-project-name a
{
	font-weight:lighter;
	font-size:11pt;
	padding-bottom:5px;
	color:white;
	text-decoration:none;
	display:block;
}

.page-footer
{
	background-color:white;
	font-size:12px;
	height:60px;
	padding-top:20px;
	position:relative;
	z-index:1;
	clear:both;
}

.page-footer p
{
	padding:0.2em 2em;
	margin-left:40px;
}

.region-footer-left
{
	float:left;
}

#block-menu-menu-footer-menu
{
	float:right;
}

#block-menu-menu-footer-menu li
{
	list-style:none;
	float:left;
	border-right:1px solid #98012e;
	padding:0;
	margin:0;
}

#block-menu-menu-footer-menu li.last.leaf
{
	border-right:0;
}

#block-menu-menu-footer-menu li a 
{
	text-decoration:none;
	padding:0 1em;
	color:#98012e;
}

#block-views-news-block
{
	font-size:14px;
	margin-bottom:40px;
	float:left;
}

#block-views-news-block h2
{
	font-size:18px;
	text-shadow:1px 1px 1px #999;
	margin-bottom:10px;
	text-transform:uppercase;
}

#block-views-news-block h3
{
	font-size:14px;
	font-weight:bold;
}

.read-more
{
	text-transform:uppercase;
}

#block-system-main
{
	color:black;
}

#block-system-main ul,
#block-system-main ol
{
	margin-left:20px;
	margin-bottom:0.8em;
}

.page-front #block-system-main
{
	min-height:auto;
}

#block-locale-language
{
	position:absolute;
	right:175px;
	top:-18px;
}

#block-locale-language ul.language-switcher-locale-url li
{
	list-style:none;
	float:left;
	border-left:1px solid #98012e;
	padding:0 10px;
	line-height:14px;
	font-size:12px;
	font-weight:bold;
}


#block-locale-language ul.language-switcher-locale-url li.first,
#block-locale-language ul.language-switcher-locale-url li.first.active+li
{
	border:0;
}

#block-locale-language ul.language-switcher-locale-url li.active
{
	display:none;
}

#block-locale-language ul.language-switcher-locale-url li a
{
	text-decoration:none;
}

.form-required
{
	color:#98012e;
}

#open-close-tab
{
	position:absolute;
	right:30px;
	top:-31px;
	cursor:pointer;
}

#open-tab 
{
	display:none;
}

.node-article.view-mode-full .field-name-post-date
{
	margin-bottom:1em;
}

#block-block-4.contextual-links-region
{
	position:static;
}

#clients-list ul
{
	margin-bottom:1em;
	margin-left:-8px;
	list-style:none;
	overflow:hidden;
	position:relative;
}

#clients-list ul li
{
	float:left;
	padding:0 8px 0 16px;
	/* background-image is used to support IE7 */
	background:url(/sites/all/themes/sgl_theme/images/disc.png) 0 center no-repeat;
	white-space:nowrap;
	position:relative;
	left:-8px;
}

#clients-list h3
{
	clear:both;
}

#services-list ul
{
	margin-left:0;
	margin-bottom:1em;
}

#services-list ul li
{
	list-style:none;
}

.font-resize
{
	float:right;
	position:relative;
	top:5px;
	margin-left:10px;
	width:50px;
	height:26px;
}

.font-resize a
{
	text-decoration:none;
	position:absolute;
	bottom:0;
	vertical-align:bottom;
	line-height:100%;
}

.font-resize .up
{
	font-size:1.2em;
	left:20px;
}
.font-resize .down
{
	left:0;
}

.node-team-member img
{
	float:left;
	margin:0 0 8px 0;
}

.node-team-member.node-teaser
{
	float:left;
	margin:5px 0 5px 0;
}

.node-team-member .field-name-body,
.node-team-member .field-name-back-to-our-team
{
	padding-left:242px;
}

.view-our-team.view-display-id-page
{
	margin-right:-85px;
}
.view-our-team.view-display-id-page .node-team-member img 
{
	margin-right:85px;
}

a.cv_pdf
{
	float:left;
	clear:left;
}

body.admin-menu .region-navigation
{
	top:29px;
}

body.admin-menu ul.primary
{
	margin:0;
	border:0;
	position:absolute;
	top:-34px;
}

.background-images
{
	display:none;
}

.background-changer-left,
.background-changer-right
{
	position:fixed;
	top:50%;
	height:70px;
	margin-top:-35px;
	cursor:pointer;
}

.background-changer-left
{
	left:15px;
}

.background-changer-right
{
	right:10px;
}

.region-body.clearfix:after
{
	display:none;
}

#block-views-nodequeue-1-block h2
{
	display:none;
}

.region-footer-left a 
{
	text-decoration:none;
}
.region-footer-left a:hover
{
	text-decoration:underline;
}

.page-node .node-land-use-project .field-name-field-image,
.page-node .node-urban-design-project .field-name-field-image
{
	float:right;
	margin:0 0 1em 1em;
}

.node .field-name-field-project-name
{
	font-size:1.3em;
	color:#98012e;
	text-shadow:1px 1px 1px #999;
	margin-bottom:0.5em;
}

.view-urban-design-projects .views-row
{
	margin-bottom:1em;
}

.open-nav
{
	display:none;
	text-transform:uppercase;
}
.open-nav:hover
{
	text-decoration:none;
}

#background
{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	overflow:hidden;
}
#background .background-image
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
	z-index:-1;
}
#background .background-image.landscape
{
	height:100%;
	width:auto;
}
#background .background-image.new 
{
	left:-999999px;
}

#node-16 textarea,
#node-16 input[type=text]
{
	width:320px;
}
#node-16 .form-required
{
	display:none;
}

.node-land-use-project .field-name-field-photos,
.node-urban-design-project .field-name-field-photos
{
	text-align:center;
	margin-bottom:1em;
}

#block-system-main img 
{
	max-width:100%;
}

.field-name-field-image-credit
{
	float:right;
	position:relative;
	margin-top:-41px;
	line-height:1.5em;
	padding:0 6px;
	color:#444;
	font-size:14px;
	background:url(../images/white-0.60.png);
	background:rgba(255, 255, 255, 0.6);
	z-index:1;
}

.front #block-system-main
{
	margin-bottom:30px;
}

.clearfix:after
{
	content:"";
	display:none;
}






@media screen and (max-width: 720px)
{
	html
	{
		background-image:none!important;
		background-color:white!important;
	}

	.region-navigation
	{
		top:130px;
		height:38px;
		display:none;
	}

	html .region-header > div
	{
		padding-top:0;
		height:100px;
	}

	html .region-header .logo
	{
		border-radius:0;
		padding:3px 0 0 0;
		margin:0 auto;
		width:100%;
		width:217px;
		height:90px;
		display:block;
		float:none;
	}

	html .region-header .logo img
	{
		margin:0;
	}

	html .page-content-container > div,
	html .front .region-content-container
	{
		margin:0;
	}

	.region-content-container > div
	{
		padding-top:0;
		margin:0;
		padding:0 25px;
	}

	html .page-footer p
	{
		margin-left:0;
	}

	html .font-resize
	{
		display:none;
	}

	#block-system-main-menu
	{
		display:none;
	}

	#block-system-main-menu .content > ul.menu
	{
		float:none;
		overflow:hidden;
	}

	html .region-navigation #block-system-main-menu ul.menu li a,
	html .region-navigation #block-system-main-menu ul.menu li span.nolink
	{
		padding:0 3px;
		font-size:12px;
		line-height:38px;
	}

	html #open-close-tab
	{
		display:none;
	}

	html .page-body > div
	{
		vertical-align:top;
	}

	html #block-locale-language
	{
		top:auto;
		bottom:-18px;
		right:0;
		z-index:1;
	}

	html .page-footer p
	{
		padding:0.2em 8px;
	}

	html .page-body.bottom-up > div
	{
		position:static;
	}

	html .background-changer-left,
	html .background-changer-right
	{
		display:none;
	}

	.page-content > div
	{
		margin:0;
	}

	.open-nav
	{
		display:block;
		padding-right:20px;
		margin-left:25px;
		margin-bottom:10px;
		margin-top:10px;
		float:left;
		background:url(../images/arrow-small-down.png) no-repeat right center;
	}

	.nav-open .open-nav
	{
		background-image:url(../images/arrow-small-up.png);
	}

	.nav-open #block-system-main-menu
	{
		display:block;
	}

	.nav-open .region-header > div
	{
		height:438px;
	}

	.nav-open .region-navigation
	{
		display:block;
	}

	.nav-open #block-system-main-menu
	{
		background-color:#98012e;
		display:block;
	}

	.nav-open .region-navigation #block-system-main-menu ul.menu li a,
	.nav-open .region-navigation #block-system-main-menu ul.menu li span.nolink
	{
		color:white;
		line-height:24px;
	}

	.nav-open #block-system-main-menu ul.menu
	{
		overflow:visible;
		margin-left:25px;
	}
	.nav-open #block-system-main-menu ul.menu ul.menu
	{
		display:block;
		position:static;
		width:auto!important;
	}

	.nav-open #block-system-main-menu ul.menu ul.menu li 
	{
		float:none;
	}

	.nav-open #block-system-main-menu ul.menu ul.menu li a
	{
		background:none;
		line-height:16px;
		width:auto;
	}


	#page-title
	{
		margin-top:0;
	}

	#block-system-main-menu ul.menu li
	{
		float:none;
	}

	.page-width-container
	{
		height:auto!important;
	}
}



@media screen and (max-width:480px)
{
	.node-team-member .field-name-body,
	.node-team-member .field-name-back-to-our-team
	{
		padding-left:0;
		clear:left;
	}
}



html.lt-ie8 .region-header .logo
{
	margin-top:0;
}


html.lt-ie8 .font-resize
{
	height:30px;
}
html.lt-ie8 .font-resize a 
{
	height:30px;
	line-height:30px;
}
html.lt-ie8 .font-resize .up 
{
	bottom:2px;
}


html.lt-ie8 #open-close-tab
{
	display:none;
}

html.lt-ie8 #block-locale-language
{
	right:0;
}

html.lt-ie8 .background-changer-left,
html.lt-ie8 .background-changer-right
{
	display:none;
}

html.lt-ie8 .page-footer p
{
	margin-left:0;
}

html.lt-ie8 .page-content > div,
html.lt-ie8 .front .region-content-container
{
	margin:0;
}

html.lt-ie8 .page-footer > div,
html.lt-ie8 .page-width-container,
html.lt-ie8 .region-navigation > .pageContainer
{
	max-width:1000px;
}

html.lt-ie8 .region-body
{
	display:none;
}

html.lt-ie8 .region-header .logo
{
	margin-left:0;
}