@import "variables";

.view-calendar-of-events {
	label {
		color: $color-calendar;
	}

	#edit-field-event-dates-value-value-datepicker-popup-0 { margin-top: 15px; }

	#edit-field-event-type-tid-wrapper {
		width: 50%;

		select {
			width: 95%;
			height: 75px;
		}
	}

	.views-row {
		margin-bottom: 1em;
	}
}