.region-sidebar label {
	color: white;
	font-size: 22px;
	width: auto;
}

input[type=text], input[type=password],
input[type=search], input[type=number],
input[type=email], textarea {
	margin: 0;
	padding: 3px 10px;

	border: 1px solid #333;
	outline: none;

	label ~ & {

	}
}

fieldset {
	margin: 1em 0;

	border: 1px solid #333;
}

select[multiple] {
	width: 100%;
	border: 1px solid #333;
}


#edit-submitted-travel-interests {
	overflow: hidden;

	.form-item {
		width: 32%;
		float: left;
		margin-left: 1%;
	}
}

label[for="edit-field-region-tid"] {
	@each $section in $sections {
		body.pagestyle-#{$section} & {
			color: getMainColor($section);
		}
	}
}

.views-widget-filter-field_region_tid {
	width: 50%;
}

.view-id-listings {
	.views-row {
		margin-bottom: 0.75em;
	}
}