.ie7 {

	// layout
	.pageContainer {
		width: 948px !important;
	}

	.region-header {
		width: 948px;
	}


	// search
	#search-block-form input[type=submit] {
		right: 8px;
	}


}

.ie8, .ie9 {
	.pageContainer {
		width: 948px !important;
	}
}