@import "variables";
@import "mixins";

ul.menu {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;

		list-style: none;
	}

	a, span {

	}

	ul {

		a, span {

		}
	}
}

.menu--hoz ul.menu {
	@include clearfix;

	li {
		float: left;
		margin: 0 0 0 1em;
	}

	a, span {
		display: block;
	}
}

.menu--hoz--right ul.menu {
	li {
		float: right;
	}
}

.menu--vert ul.menu {
	a, span {
		display: block;
		padding: 0 8px;
	}

	ul {
		margin-left: 1em;
	}
}

.menu--white ul.menu {
	a, span {
		color: white;
		text-decoration: none;
		text-transform: uppercase;

		&:hover,
		&.active,
		&.active-trail {
			text-decoration: underline;
		}
	}
}

.menu--bordered ul.menu {
	li {
		border-left: 1px solid white;
		margin-left: 0.75em;
		padding-left: 0.75em;
	}

	li:first-child { border-left: none; }
}

.menu--small ul.menu {
	a, span {
		font-size: .833333333em;
	}
}

.menu--rainbow ul.menu {

	a, span {
		height: 43px;
		margin: 0 -35px 0 0;
		padding: 17px 45px 0 10px;

		color: white;
		border-radius: 10px 0 0 0;
		font-size: 14px;
		background: getMainColor(system);
		text-decoration: none;
		text-transform: lowercase;

		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;

		&:hover,
		&.active,
		&.active-trail {
			height: 43px;
			padding-top: 27px;
			margin-top: -10px;

			text-decoration: none;
			border-radius: 10px 10px 0 0;
		}

		@each $section in $sections {
			&.pagestyle-#{$section} {
				background: getMainColor($section);
				background: -webkit-linear-gradient(right, get2ndColor($section), getMainColor($section) 55px, getMainColor($section));
				background: -moz-linear-gradient(right, get2ndColor($section), getMainColor($section) 55px, getMainColor($section));
				background: -ms-linear-gradient(right, get2ndColor($section), getMainColor($section) 55px, getMainColor($section));
				background: -o-linear-gradient(right, get2ndColor($section), getMainColor($section) 55px, getMainColor($section));
				background: linear-gradient(right, get2ndColor($section), getMainColor($section) 55px, getMainColor($section));
			}
		}
	}

	li.last {
		a, span { margin-right: 0; }
	}
}

.menu--local-rainbow ul.menu {
	a, span{
		color: #333;
		text-decoration: none;

		&:hover,
		&.active,
		&.active-trail {
			@each $section in $sections {
				body.pagestyle-#{$section} & {
					background: getMainColor($section);
				}
			}
		}
	}
}

.menu--social ul.menu {

	li {
		width: 23px;
		height: 24px;
	}

	.social-facebook, .social-twitter,
	.social-youtube {
		width: 0;
		height: 24px;
		padding-left: 23px;

		overflow: hidden;
		text-indent: 30px;
	}

	$networks: facebook twitter youtube;
	@each $network in $networks {
		.social-#{$network} { background: url(../images/icons/icon-#{$network}.png) left no-repeat; }
	}
}