.node-photo-gallery {
	position: relative;

	.image-preview { margin-bottom: 1em; }

	.postcard-link {
		position: absolute;
		top: 16px;
		right: 16px;

		a {
			display: block;
			width: 96px;
			height: 95px;
			text-indent: 200px;
			text-transform: uppercase;
			overflow: hidden;

			white-space: nowrap;
			background: url(../images/postcard.png) center no-repeat;
		}
	}

}