$color-welcome: #cc2035;
$color-welcome2: #7c0415;
$color-visitor: #f26a37;
$color-visitor2: #8d3b15;
$color-communities: #f2b14a;
$color-communities2: #cf8400;
$color-experiences: #76bd22;
$color-experiences2: #638c1c;
$color-calendar: #0daace;
$color-calendar2: #00667d;
$color-dining: #1d50a1;
$color-dining2: #062860;
$color-accomodations: #b7529f;
$color-accomodations2: #6e285e;
$color-attractions: #ed0f8d;
$color-attractions2: #8c0052;
$color-system: #2c7ebc;
$color-system2: #114972;

$color-blue-dark: #174271;

$sections: welcome visitor communities experiences calendar dining accomodations attractions system;
$main-colors: #cc2035 #f26a37 #f2b14a #76bd22 #0daace #1d50a1 #b7529f #ed0f8d #2c7ebc;
$secn-colors: #7c0415 #8d3b15 #cf8400 #638c1c #00667d #062860 #6e285e #8c0052 #114972;